{% extends 'base.html' %}

{% block header%}
<h1>Register new user</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="username">Username</label>
		<input name="username" id="username" required>

		<label for="password">Password</label>
		<input type="password" name="password" id="password" required>

		<input type="submit" value="Register">
	</form>
{% endblock %}
