<!doctype html>
<title>micro-ci</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<nav>
	<h1>{% block title %}{% endblock %}- Micro-CI</h1>
	<ul>
		{% if g.user %}
		<li><a href="{{url_for('auth.logout')}}">Log out</a></li>
		{% else %}
		<li><a href="{{url_for('auth.login')}}">Log in</a></li>
		<li><a href="{{url_for('auth.register')}}">Register</a></li>
		{% endif %}
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>
