{% extends 'base.html' %}

{% block header %}
<h1>{%block title %}Create APP{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
	<label for="name">name</label>
	<input name="name" id="name" value="{{request.form['name']}}" required>
	<label for="working_dir">Working directory</label>
	<input name="working_dir" id="working_dir" value="{{request.form['working_dir']}}" required>
	<label for="buid_script">Buid script</label>
	<input name="build_script" id="build_script" value="{{request.form['build_script']}}">
	<label for="deploy_script">Deploy script</label>
	<input name="deploy_script" id="deploy_script" value="{{request.form['deploy_script']}}">
	<label for="vcs_source">VCS source</label>
	<input name="vcs_source" id="vcs_source" value="{{request.form['vcs_source']}}" required>
	<input type="submit" value="Save">
</form>
{% endblock%}
