{% extends 'base.html' %}

{% block header %}
<h1>Dashboard</h1>
{% endblock %}

{% block content %}
	{% for app in apps %}
	<article class="app">
		<header>
			<h1>{{app['name']}}</h1>
		</header>

		<ul>
			<li>Build</li>
			<li>Deploy</li>
			<li>Configure</li>
		</ul>
	</article>
	{% if not loop.last %}
		<hr>
	{% endif %}
	{% endfor %}

	<a href="{{url_for('app.create')}}">Add new app</a>
{% endblock %}
